version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: clubpro_db
      POSTGRES_USER: clubpro_user
      POSTGRES_PASSWORD: clubpro_password
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: